@model IReadOnlyList<ProductCategory>

@foreach (var category in Model)
{
    <tr>
        <td>@category.Id</td>
        <td>@category.Name</td>
        <td>@category.Description</td>
        <td class="text-end">
            <a asp-action="Details" asp-route-id="@category.Id">Details</a>
            <span class="mx-2">|</span>
            <a asp-action="Edit" asp-route-id="@category.Id">Edit</a>
            <span class="mx-2">|</span>
            <a asp-action="Delete" asp-route-id="@category.Id">Delete</a>
        </td>
    </tr>
}
