@model IReadOnlyList<tab_it.Models.ViewModels.IdentityUserListItemViewModel>

@foreach (var user in Model)
{
    <tr>
        <td>@user.Email</td>
        <td>@user.UserName</td>
        <td>@(user.Roles.Count == 0 ? "No roles" : string.Join(", ", user.Roles))</td>
        <td>@user.OIB</td>
        <td>@user.JMBG</td>
        <td class="text-end">
            <a asp-action="Details" asp-route-id="@user.Id" class="ajax-modal-link" data-title="User">Details</a>
            <span class="mx-2">|</span>
            <a asp-action="Edit" asp-route-id="@user.Id">Edit</a>
            <span class="mx-2">|</span>
            <a asp-action="Delete" asp-route-id="@user.Id">Delete</a>
        </td>
    </tr>
}
