@model IReadOnlyList<tab_it.Models.ViewModels.IdentityRoleListItemViewModel>

@foreach (var role in Model)
{
    <tr>
        <td>@role.Id</td>
        <td>@role.Name</td>
        <td class="text-end">
            <a asp-action="Details" asp-route-id="@role.Id" class="ajax-modal-link" data-title="Role">Details</a>
            <span class="mx-2">|</span>
            <a asp-action="Edit" asp-route-id="@role.Id">Edit</a>
            <span class="mx-2">|</span>
            <a asp-action="Delete" asp-route-id="@role.Id">Delete</a>
        </td>
    </tr>
}
